server:
  port: 1111

spring:
  devtools:
    restart:
      enabled: true
      # 当修改该文件的时候才重启,其他修改不重启
#      trigger-file: version
#  freemarker:
#    # 是否开启缓存,本地为false,生产就是true
#    cache: false
#    charset: UTF-8
#    allow-request-override: false
#    check-template-location: true
#    content-type: text/html
#    expose-request-attributes: true
#    expose-session-attributes: true
#    # 文件后缀
#    suffix: .ftl
#    # 模板路径
#    template-loader-path:
#    - classpath:/templates/
  thymeleaf:
    cache: false
    mode: HTML5
    encoding: UTF-8
    # 默认是html
    suffix: .html
    servlet:
      content-type: text/html; charset=utf-8
    # 资源前缀,等同于freemarker的template-loader-path,多个前缀用逗号隔开
    prefix: classpath:/templates/
  servlet:
    multipart:
      # 设置一次请求上传文件的总容量
      max-request-size: 200M
    
  messages:
    basename: i18n/messages