<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.shiro.mapper.UserRoleMapper">

	<resultMap id="BaseResultMap" type="com.wy.shiro.entity.UserRole">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="ENABLE_FLAG" jdbcType="VARCHAR" property="enableFlag" />
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, ENABLE_FLAG, USER_ID, ROLE_ID
	</sql>

	<insert id="batchInsert" parameterType="java.util.List">
		insert into sh_user_role (ID, ENABLE_FLAG, USER_ID, ROLE_ID) values
		<foreach collection="list" item="entity" index="index" separator=",">
			(#{entity.id}, #{entity.enableFlag}, #{entity.userId}, #{entity.roleId})
		</foreach>
	</insert>
</mapper>