spring:
  datasource: 
#    url: jdbc:mysql://localhost:3306/simpleoa?autoReconnect=true&amp;useUnicode=true
#    username: root
#    password: 52LDforever
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      min-idle: 5
      max-active: 10
      initial-size: 10
      max-wait: 60000
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: select 'x'
      test-while-idle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreparedStatements: true
    hikari:
      jdbc-url: jdbc:mysql://localhost:3306/simpleoa?autoReconnect=true&useUnicode=true&serverTimezone=GMT
      username: root
      password: 52LDforever