server: 
  address: 127.0.0.1
  port: 5555
  max-http-header-size: 10000000
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
spring:
  profiles:
    # 第一个参数是开发环境配置文件,其他的多个配置文件必须以application-开头,只用写后缀即可,逗号隔开
    active: druid,dev,config
  application:
    name: paradise-study-java-jpa
  mvc:
    async:
      request-timeout:
        seconds: 180
    throw-exception-if-no-handler-found: true
  #静态资源配置文件,false时无法访问静态资源,如html等,默认为true
  resources:
    add-mappings: true
  #文件上传
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
  # 格式化输出的json字符串
  jackson: 
    serialization: 
      INDENT_OUTPUT: true
    date-format: yyyy-MM-dd HH:mm:ss
  # 定义了多种session策略的时候,需要选择一种作为主要策略
  session: 
    store-type: redis
    timeout:
      seconds: 1800
  cache: 
    type: redis
    redis:
      time-to-live:
        seconds: 1800
  # 开启支持ANSI格式输出
  output:
    ansi:
      enabled: always
  # 国际化
  messages:
    basename: i18n/config/config